.contacts {
    display: flex;
    align-items: center;
}

.contacts__mail {
    display: flex;
    align-items: center;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    
    transition: color var(--transition-dur-and-func);
    
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: var(--nav-letter-spacing);
    text-decoration: none;
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color var(--transition-dur-and-func);

    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: var(--nav-letter-spacing);
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts__icon {
    margin-right: 10px;

    transition: fill var(--transition-dur-and-func);

    fill: var(--primary-text-color);

    .contacts__link:hover &,
    .contacts__link:focus & {
        fill: var(--accent-color);
    }

    .contacts__mail:hover &,
    .contacts__mail:focus & {
        fill: var(--accent-color);
    }
}

 

